body {
    background-image: url('$lib/assets/keyboard.jpg');
    background-size: cover;
    background-color: #D3D0CB;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
}
